.background {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  .produtoDetalhe {
    display: grid;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: auto auto;
    grid-template-areas:
      "img h1"
      "img desc"
      "obs desc";
    background: #fff;
    img {
      grid-area: img;
      border-radius: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      max-width: 350px;
    }
    h1 {
      grid-area: h1;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      font-size: 2.25em;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 350px;
      padding: 5px;
    }
    h2 {
      font-weight: bold;
    }
    .descricao {
      grid-area: desc;
      max-width: 350px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 10px;
    }
    .observacao {
      grid-area: obs;
      max-width: 350px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 10px;
    }
    p {
      font-size: 1.125em;
      max-width: 100%;
      word-wrap: break-word;
    }
  }
}
