.formProduto {
  width: 100%;
  padding: 10px;
  div {
    label {
      display: block;
      font-weight: bold;
    }
  }
}
.btnInserir {
  border: none;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 150px;
  font-weight: bold;
  background: #d63030;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.125em;
  padding: 0px 10px;
  margin-left: 50%;
  margin-top: 25px;
  transform: translate(-50%);
  text-shadow: 0px 0px 5px #252525;
  cursor: pointer;
  box-shadow: 0px 0px 3px #252525;
  transition: 0.2s ease;
  &:hover {
    transform: translate(-50%) scale(1.05);
    box-shadow: 0px 0px 5px #252525;
  }
  &:active {
    background: #f3957d;
  }
}
