.background {
  width: 100%;
  height: 80vh;
  margin: auto;
  padding: 10px;
  .table {
    width: 100%;
    th {
      background: #fff;
      padding: 5px 10px;
      color: #444343;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 1.125em;
      position: sticky;
      top: 0;
      text-align: center;
    }
    td {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      padding: 0 10px;
      margin-bottom: 10px;
      padding: 5px;
      max-width: 50px;
      text-align: center;
      word-break: break-all;
      font-size: 1.125em;
    }
    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: #252525;
      &:hover {
        color: #9b9999;
      }
      img {
        margin: 0px 10px;
      }
    }
    img {
      width: 30px;
      height: 30px;
      pointer-events: none;
    }
    button {
      max-width: 100%;
      height: 40px;
      background: transparent;
      box-shadow: none;
      transition: 0.5 ease;
      &:hover {
        animation: rotation 0.5s;
      }
    }
  }
}

@keyframes rotation {
  20% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
