.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 0px 10px #c7c6c6;
  button {
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: bold;
    background: #d64141;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  h1 {
    font-weight: bold;
  }
  a {
    color: #252525;
    &:hover {
      color: #7e7e7e;
    }
  }
}
