@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}
body {
  background: #fcf9f9;
}
a {
  text-decoration: none;
  color: #fff;
}
button:hover {
  transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}
